* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grand-parent {
    display: grid;
    grid-template-rows: auto;
    background-color: white;
    /* border: 2px solid black; */
    padding: 0%;
    margin: 0%;
    gap: 0;
}

.section1 {
    height: 100vh;
    background:
        linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
        url("https://plus.unsplash.com/premium_photo-1726766797584-4e934ec63af9");
    background-size: cover;
    background-position: center;
    color: white;
}
.title {
    font-size: 2rem;
    margin: 2%;
}
.menu-parent{
    display: flex;
    align-items: center;
}

#menu-toggle{
    display: none;
}

.menu-items {
    display: flex;
    gap: 30px;
    padding: 30px;
}
.menu-icon{
    display:none;
    cursor: pointer;
}
.menu-items a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.mid-title {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Cookie", cursive;
}

.title-1 {
    font-size: clamp(2rem, 3vw, 5rem);
    padding-bottom: 5px;
    letter-spacing: 5px;
    color: rgb(203, 239, 59);
}

.title-2 {
    letter-spacing: 5px;
    font-family: "Times New Roman", Times, serif;
}

.title-3 {
    animation-name: title3;
    animation-duration: 3s;
    font-size: clamp(3rem, 8vw, 8rem);
    letter-spacing: 5px;
}

.title-4 {
    animation-name: title4;
    animation-duration: 3s;
    font-size: clamp(3rem, 8vw, 8rem);
    padding: 2px;
    letter-spacing: 5px;
}
@keyframes title3 {
    from{
        transform: translate(-600px);
    }to{
        transform: translate(0px);
    }
}
@keyframes title4 {
    from{
        transform: translate(600px);
    }to{
        transform: translate(0px);
    }
}
.symbol{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    align-items: center;
}
.border-line{
    width: 40px;
    height: 60px;
    border: 3px solid rgb(247, 244, 244);
    border-radius: 25%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot{
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #ddd;
    animation-name: dot;
    animation-duration: 2s ;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
@keyframes dot {
    0%{
        transform: translateY(20px);
        opacity:1;
    }50%{
        transform: translateY(10px);
        opacity:1;
    }100%{
        transform: translateY(0px);
        opacity:0;
    }
}

.main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

/* .main>div {
padding-top:10px;
}
.header {
    padding-top: 20px;
} */
.roundcard-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 90px;
    font-size: clamp(0.875rem, 3vw, 1.1rem);
}
.card-text{
    font-size: 2rem;
}
.roundcards{
    display: flex;
    justify-content: space-evenly;
    padding-left:8%;
    padding-right:8%;
}
.card img{
    padding-bottom: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-1{
    animation: card1Animation 2s ease-in-out 1;
    animation-delay: 1s;
}
@keyframes card1Animation {

    0%{
        transform: translate(0px);
        opacity: 0;
    }50%{
        transform: translate(300px);
        opacity: 0;
    }100%{
        transform: translate(0px);
        opacity: 1;
    }
}
.card-2{
    /* animation: card2Animation 2s ease-in-out 0 1 ; */
    animation-name: card2Animation;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes card2Animation {
    0%{
        transform: translateY(0px);
        opacity: 0;
    }50%{
        transform: translateY(300px);
        opacity: 0;
    }100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.card-3{
    animation: card3Animation 2s ease-in-out  ;
    animation-delay: 1s;
}
@keyframes card3Animation {
    0%{
        transform: translate(0px);
        opacity: 0;
    }50%{
        transform: translate(-300px);
        opacity: 0;
    }100%{
        transform: translate(0px);
        opacity: 1;
    }
}
/* section3 */
.big-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
}
.big-card1{
    display: flex;
    flex-wrap: wrap;
}
.big-card-1{
    animation-name: bigcard1;
    animation-duration: 2s;
    animation-delay:2s;
}

.big-card-text{
    font-size: 3rem;
}
@keyframes bigcard1 {
    from{
        transform: translate(-300px);
    }to{
        transform: translate(0px);
    }
}
.big-card2{ 
    display: flex;
    flex-wrap: wrap;
}
.big-card-2{
    animation: bigcard2 2s ease-in 2s ;
}
@keyframes bigcard2 {
    from{
        transform: translate(300px);
    }to{
        transform: translate(0px);
    }
}
.big-card1 img{
    width: 60%;
    height: 700px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.big-card2 img{
    width: 60%;
    height: 700px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.side-text1{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}
.side-text2{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 100px;
    text-align: end;
}

/* team */
.team-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 80px;
}
.members-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding-left: 8%;
    padding-right: 8%; */
    margin: 8%;
}
.mem-card1 img {
    padding-bottom:10%;
}
.mem-text{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(200, 198, 198);
}
/* section4 */
.parts-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(230, 115, 32);
}
.big-img img{
    width: 100%;
    height: 700px;
}
.big-img{
    width: 100%;
    height: 500px;
    background-image: url("https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?cs=srgb&dl=bowl-cuisine-delicious-1640773.jpg&fm=jpg");
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    padding-top:50px ;
}
.parts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.parts-container{
    width: 70%;
    height: auto;
    background-color: #ffffff;
    border: 2px solid black;
    position: absolute;
    left: 15%;
    top: 10%;
    padding: 5%;
    animation: partsCard;
    animation-duration: 2s;
    animation-delay: 7s;
}
@keyframes partsCard {
    from{
        transform: translateY(500px);
    }to{
        transform: translateY(0px);
    }
}
.parts-title img{
    width: 15%;
    height: 15%;
    padding: 10px;
}
.costum-line{
    width: 6 0%;
}
.extra-img{
    width: 100%;
    height: 440px;
    background-image: url("https://img.freepik.com/premium-photo/healthy-lunch-food-double-side-border-table-scene-with-vegetable_886974-922.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 15px;
    width: fit-content;
    border :  2px solid rgb(233, 150, 43);
    border-radius: 10px;
}

/* section7 */
.customer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top:50px ;
}
.customer p{
    color: rgb(175, 174, 174);
}
.customer-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.customer img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 30px;
}

/* section8 */
.last-big {
    margin-top: 40px;
    min-height: 700px;
    background: url("https://img.freepik.com/free-photo/flat-lay-mexican-food_23-2148140353.jpg")
                no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px ;
}
.book-btn a , .btn a{
    text-decoration: none;
    color: #000;
}
.book-btn:hover , .btn:hover{
    cursor: pointer;
}
.details-card {
    background: white;
    width: 80%;
    height: auto;
    border-radius: 16px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top:2% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: detailsAnimation;
    animation-duration: 2s;
    animation-delay: 0s;
}
@keyframes detailsAnimation {
    from{
        transform: translateY(500px);
    }to{
        transform: translateY(0px);
    }
}
.form-title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.form-subtitle {
    color: #999;
    margin-bottom: 60px;
}
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 60px;
    margin-bottom: 60px;
}
.form-group {
    text-align: left;
}
.form-group label {
    font-size: 14px;
    color: #999;
}
.form-group input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 12px ;
    font-size: 16px;
    background: transparent;
}
.form-group input:focus {
    border-bottom-color: #000;
}
.book-btn {
    border: none;
    background: none;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 45px 40px;
}
.book-btn:hover {
    text-decoration: underline;
}
.contact-map {
    display: flex;
    min-height: auto;
    height: auto;
}
.contact-info {
    width: 50%;
    background: #fff;
    padding-left: 6%;
    padding-right:6%;
    padding-top:3%;
    font-family: "IBM Plex Serif", serif;
    animation-name: contact;
    animation-duration: 3s;
    animation-delay: 0s;
}

.contact-info h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.contact-info p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #666;
}

/* RIGHT SIDE (MAP IMAGE) */
.map-image {
    width: 50%;
    position: relative;
    overflow: hidden;
    animation-name: map;
    animation-duration: 3s;
    animation-delay: 0s;
}

.map-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes contact {
    from{
        transform: translate(-500px);
    }to{
        transform: translate(0px);
    }
}
@keyframes map {
    from{
        transform: translate(500px);
    }to{
        transform: translate(0px);
    } 
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 30px;
}
@media (min-width:481px) {
    .menu-icon{
        display: none;
    }
    
}
@media (max-width:480px){
    .title{
        /* margin-left: 2%; */
        /* padding-left: 8%; */
        padding: 2%;
    }
    .menu-items{
        display: none;
        flex-direction: column;
    }
    .menu-icon{
        display: block;
    }
    #menu-toggle:checked ~ .menu-items{
        display: flex;
    }
    .big-card-text{
        font-size: 2em;
    }
    .roundcards,
    .big-card-1,
    .big-card-2,
    .members-cards,
    .contact-map {
    flex-direction: column;
    }
    .roundcards{
        padding-top: 0%;
        margin-top: 0%;
    }
    .card{
        padding-top: 0%;
        padding-bottom: 20%;
    }
    .roundcard-title{
        padding-top: 10%;
    }
    .side-text1,
    .side-text2 {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .parts-container{
        padding-top: 0%;
    }
    .big-card1 img,
    .big-card2 img {
        width: 100%;
        height: auto;
        border-radius:0%;
    }
    .big-img{
        height:1100px;
    }
    .mem-card1 img{
        padding-bottom: 2%;
    }
    .mem-card1{
        padding: 0% 0% 20% 0%;
    }
    .mem-text{
        padding: 0%;
        margin: 0%;
    }
    .parts-title{
        text-align: center;
    }
    .parts-title img{
        width: 40%;
        height: 40%;
    }
    .form-title{
        text-align: center;
        font-size: 1rem;
    }
    .form-grid{
        grid-template-columns: repeat(1,1fr);
        padding: 8%;
        padding-top: 0%;
        margin-bottom: 0%;
        gap: 20px 30px;
    }
    .last-big{
        padding: 8%;
    }
    .details-card{
        width: 100%;
        padding: 0%;
    }
    .form-titles{
        padding: 5%;
        padding-bottom: 0%;
        text-align: center;
    }
    .contact-info h2{
        font-size:  1em;
        padding: 0%;
        margin: 0%;
        text-align: center;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    .contact-info p{
        text-align: left;
        font-size: 1em;
    }
    .contact-info{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .map-image{
        width: 100%;
        padding: 0%;
        margin: 0%;
        height: 350px;
    }
    .footer{
        flex-direction: column;
        justify-content: space-between;
        padding:2% 0% 2% 0%;
        gap: 10px;
    }
    .footer-icons{
        display: flex;
        gap: 10px;
    }

}